/* 
    Document   : voron
    Created on : 2-mar-2011, 23.00.06
    Author     : janesconference
    
*/

    @font-face {
        font-family: "embedded_font";
        src: url(SFDigitalReadoutHeavy.ttf);
    }
    .embed {
        font-family: "embedded_font";
    }

    .embed_msg {
        font-family: "embedded_font";
        font-size: 22px;
    }

    body {
        background-image:url('images/bg5d.gif');
        background-repeat:repeat;
    }

    #div-1 {
        margin-left: auto;
        margin-right: auto;
        width: 816px;
    }

    #div-2 {
        /* Table, to put the controls exactly in the middle */
        display: table;
        margin: 0 auto;
    }

    #div-message {
        background: #220000;
        margin-top: -40px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        width:400px;
        -moz-border-radius: 0.3em;
        -webkit-border-radius: 0.3em;
        border-radius: 0.3em;
        text-align: center;
        opacity:0.8;
        /* http://www.zann-marketing.com/developer/20050518/vertically-centering-text-using-css.html */
        height: 35px;
        line-height: 35px;
        /*visibility: hidden;*/
    }

    #div-info {
        font: 0.7em "Droid Sans Mono", monospace;
        /*margin-top: -40px;*/
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        width:400px;
        text-align: left;
    }

    #div-info a:link {
            color: #ffffff;
            text-decoration: underline; }
    #div-info a:visited {
            color: #ffffff;
        }

    .darktext {
      color: #140000;
      font-weight: bold;
    }