<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{ page.title }} &middot; tomafro.net</title>{% if page.description %}
  <meta name="description" content="{{ page.description }}"/>{% endif %}{% if page.robots %}
  <meta name="robots" content="{{ page.robots }}"/>{% endif %}
  <meta name="verify-v1" content="ADnFYWq1MeVbf8+qNPe/GZTvcEsDgOCgWTWrUIPakz8=" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <script type="text/javascript" src="http://use.typekit.com/flo5dyw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link  href="http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
  <!-- <link  href="http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" > -->
  <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
  <link  href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono:regular" rel="stylesheet" type="text/css" >
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" href="http://bitterspring.net/atom.xml" />
  <link rel="canonical" href="http://bitterspring.net{{ page.url }}"/>
  {% unless page.hide_analytics %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1103395-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
          'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
    })();
  </script>
  {% endunless %}
  <meta name="viewport" content="width=850" />
  <link rel="stylesheet" media="screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css"/> 
</head> 
<body>  
  <div id="container">
    <header class="menubar">
      {% include menubar.html %}
    </header>
    <div id="main">
      {{ content }}
    </div>
  </div>
</body>	
</html> 
